
/* 전체 박스 */
.profile-wrap {
    padding: 90px 0;
    overflow: hidden;
    width: 100%;
    min-height: auto;
    display: flex;
    justify-content: center;
    background-color: #FFF4E7; 
}

/* 격자무늬랑 컨텐츠 감싸는 부모 */
.container {
    gap: 70px;
    max-width: 1280px; 
    width: calc(100% - 40px);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 격자무늬 만들기 */
.bg-pattern {
    position: absolute;
    z-index: 0;
    background: url("../assets/img/grid.png") repeat 0 0 / 40px 40px;
    pointer-events: none;
    
}

/* 격자무늬 배치하기 */
.pattern1 {
    width: 315px;
    height: 315px;
    top: -70px;
    right: -40px;
}

.pattern2 {
    width: 525px;
    height: 525px;
    top: 440px;
    left: 0px;
}

.pattern3 {
    width: 315px;
    height: 315px;
    bottom: 650px;
    right: 0px;
}

/* 격자 패턴 제외하고 모두 z-index 1주기 */
.container > :not(.bg-pattern) {
    position: relative;
    z-index: 1;
}

/* 헤더 전체 박스 */
.header-wrap {
    width: 100%;
    max-width: 1100px;
    height: auto;
    display: grid;
    grid-template-columns: 550px 490px;
    column-gap: 60px;
    justify-content: center;
    align-items: center;
}

/* 헤더 왼쪽 텍스트 */
.header-text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
}

/* 헤더 왼쪽 이름 */
.header-name {
    padding: 55px 150px 55px 150px;
    width: 550px;
    height: 284px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: #6ED779;
    border-radius: 20px;
    border: 9px solid #000;
    font-family: "Gmarket Sans", sans-serif;
    font-size: 68px;
    font-weight: 500;
}

.header-name .family-name {
    font-family: "Gmarket Sans", sans-serif;
    font-size: 68px;
    font-weight: 700;
}

/* 헤더 왼쪽 꾸밈 아이콘 */
.icon-x {
    width: 87px;
    height: 87px;
    position: absolute;
    top: -50px;
    left: -50px;
}

/* 헤더 왼쪽 직군 */
.header-role {
    padding: 30px 50px 30px 50px;
    width: 550px;
    height: 127px;
    display: flex;
    justify-content: center;
    background-color: #FF8B43;
    border: 9px solid #000;
    border-radius: 20px;
    font-family: "Gmarket Sans", sans-serif;
    font-size: 36px;
    font-weight: 500;
}

/* 헤더 오른쪽 캐릭터 박스 */
.header-img {
    height: 440px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 10px solid #000;
    border-radius: 20px;
    background-color: #DC6FD6;
}

/* 캐릭터 이미지 설정 */
.header-img img {
    width: 373px;
    height: 373px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 2s ease, transform 2s ease;
}

/* 캐릭터 이미지 기본 상태 */
.img-default {
    opacity: 1;
}
.img-hover {
    opacity: 0;
    cursor: pointer;
}

/* 캐릭터 이미지 호버 시 교체하기 */
.header-img:hover .img-default {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
}
.header-img:hover .img-hover {
    opacity: 1;
    transform: translate(-50%, -45%) scale(1.3);

}

/* ---------- 헤더 끝!!! ---------- */

/* 메인 시작 */
.main-wrap {
    padding: 60px;
    width: 100%;
    max-width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    border: 10px solid #000;
    border-radius: 50px;
    background-color: #fff;
}

/* 어바웃미 */
.about {
    width: 100%;
    max-width: 910px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

/* 별 아이콘 붙이기 */
.icon-star {
    width: 60px;
    position: absolute;
    top: 300px;
    left: 970px;
    pointer-events: none;
}

/* 어바웃미 타이틀 */
.about-title {
    width: 910px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #000;
    background-color: #FF8B43;
    border-radius: 30px;
    font-family: "Gmarket Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
}

/* 어바웃미 텍스트 */
.about-text {
    padding: 50px 154px 0 154px;
    width: 910px;
    height: 415px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    word-break: keep-all;
    line-break: normal;
}

/* 어바웃미 메인 텍스트 */
.about-main-text {
    display: inline-block;
    font-family: "Pretendard", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

/* 밑줄 들어갈 곳 */
.main-text-underline {
    padding-bottom: 8px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* 키프레임 만들기 */
@keyframes drawUnderline {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

/* 가상요소로 밑줄 만들기 */
.main-text-underline::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 14px;
    position: absolute;
    top: 45px;
    left: 10px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='10' viewBox='0 0 120 10'><path d='M0 5 Q10 0 20 5 T40 5 T60 5 T80 5 T100 5 T120 5' fill='none' stroke='%23e53935' stroke-width='5' stroke-linecap='round'/></svg>");
    background-size: 60px 14px;
    background-repeat: repeat-x;
    filter: blur(0.4px);
    transform: scaleX(0);
    transform-origin: left;
    animation: drawUnderline 1.2s ease forwards;
    animation-delay: 3s;
}

/* 어바웃미 서브 텍스트 */
.about-sub-text {
    display: flex;
    font-family: "Pretendard", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

/* ---------- 어바웃미 끝!!! ----------- */

/* 스트렝스 전체 박스 */
.strengths {
    width: 100%;
    max-width: 910px;
    height: auto;
}

/* 스트렝스 타이틀 */
.strengths-title {
    width: 910px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #000;
    border-radius: 30px;
    background-color: #6ED779;
    font-family: "Gmarket Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
}

/* 스트렝스 텍스트 | 호버 시 보이는 부분 */
.strengths-text {
    padding: 50px 154px;
    width: 910px;
    height: 300px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "Pretendard", sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    word-break: keep-all;
    line-break: normal;
}

/* 스트렝스 숨기기 */
.strengths-text .msg { 
    opacity: 0;
    position: absolute;
    left: 154px;
    right: 154px;
    transition: opacity 1.5s ease;
}

/* 스트렝스 msg-def만 다시 보여줘 */
.strengths-text .msg-def { 
    opacity: 1;
}

/* 호버시 해당 문구 나오게 설정하기 */
.strengths:has(.dil:hover) .strengths-text .msg-def { opacity: 0; }
.strengths:has(.dil:hover) .strengths-text .msg-dil { opacity: 1; }
.strengths:has(.per:hover) .strengths-text .msg-def { opacity: 0; }
.strengths:has(.per:hover) .strengths-text .msg-per { opacity: 1; }
.strengths:has(.res:hover) .strengths-text .msg-def { opacity: 0; }
.strengths:has(.res:hover) .strengths-text .msg-res { opacity: 1; }
.strengths:has(.con:hover) .strengths-text .msg-def { opacity: 0; }
.strengths:has(.con:hover) .strengths-text .msg-con { opacity: 1; }
.strengths:has(.com:hover) .strengths-text .msg-def { opacity: 0; }
.strengths:has(.com:hover) .strengths-text .msg-com { opacity: 1; }


/* 스트렝스 리스트 */
.strengths-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: "Pretendard", sans-serif;
    font-size: 27px;
    font-weight: 400;
}

/* 단어 5개 배치 및 효과 적용 */
.strengths-item {
    padding-bottom: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: end;
    font-family: "Pretendard", sans-serif;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

/* 가상요소 선 만들기 */
.strengths-list::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    top: 40px;
    background: black;
}

/* 가상요소 점 만들기 */
.strengths-item::before {
    content: "";
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 28px;
    left: 20%;
    z-index: 1;
    justify-content: space-around;
    border-radius: 50%;
    transform: translateX(-50%);
}

/* 점 색깔 적용 */
.dil::before {
    background-color: #ED30A6;
}
.per::before {
    background-color: #076AF7;
}
.res::before {
    background-color: #FCDA52;
}
.con::before {
    background-color: #3CC825;
}
.com::before {
    left: 60px;
    background-color: #ED30A6;
}

/* ---------- 스트렝스 끝!!! ----------- */

/* 스택스킬, 컨텍스 그리드 설정 */
.profile-info {
    min-height: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-content: center;
}

/* 스택스킬 그리드 설정 */
.tech-stack {
    height: 650px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

/* 스택스킬 타이틀 */
.tech-stack-title {
    margin: 60px 0 30px 0;
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #000;
    border-radius: 20px;
    background-color: #B2E0FF;
    font-family: "Gmarket Sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

/* 스택스킬 목록 */
.tech-stack-item {
    padding-left: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

/* 스택스킬 아이콘 박스 */
.tech-stack-icon {
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* 스택 스킬 아이콘 백그라운드 이미지로 넣기 */
.tech-stack-item .markup {
    background-image: url("../assets/icon/markup.png");
}
.tech-stack-item .interaction {
    background-image: url("../assets/icon/interaction.png");
}
.tech-stack-item .responsive {
    background-image: url("../assets/icon/responsive.png");
}
.tech-stack-item .collaboration {
    background-image: url("../assets/icon/collaboration.png");
}

/* 스택스킬 오른쪽 텍스트 */
.tech-stack-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 6px;
    align-items: flex-start;
    font-family: "Pretendard", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

/* 스택스킬 서브타이틀 */
.tech-stack-subtitle {
    font-weight: 500;
}

/* 스택스킬 툴 */
.tech-stack-tool {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
}

.tech-stack-tool > span:not(:first-child) {
    padding-left: 12px;
    position: relative;
}

/* 스택스킬 툴 가상요소 점 만들기 */
.tech-stack-tool > :not(:first-child)::before {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #000;
    transform: translateY(-50%);
}

/* ---------- 스택스킬 끝!!! ----------- */

/* 컨텍트 그리드 설정 */
.contact {
    height: 547px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

/* 컨텍트 타이들 */
.contact-title {
    margin: 60px 0 30px 0;
    width: 100%;
    height: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #000;
    border-radius: 20px;
    background-color: #FFE9AA;
    font-family: "Gmarket Sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

/* 컨텍트 목록 */
.contact-list-item {
    padding-left: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

/* 컨텍트 아이콘 박스 */
.contact-icon {
    width: 70px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* 컨텍트 아이콘 백그라운드 이미지로 넣기 */
.contact-list-item .gmail {
    background-image: url(../assets/icon/gmail.png);
}
.contact-list-item .github {
    background-image: url(../assets/icon/github.png);
}
.contact-list-item .Mobile {
    background-image: url(../assets/icon/Mobile.png);
}

/* 컨텍트 오른쪽 텍스트 */
.contact-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 6px;
    align-items: flex-start;
    font-family: "Pretendard", sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

/* 컨텍트 라벨 */
.contact-label {
    font-weight: 500;
}

/* ---------- 컨텍트 끝!!! ----------- */

/* 마무리 멘트 */
.profile-footer {
    padding: 50px 0;
    width: 100%;
    max-width: 910px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border: 7px solid #000;
    border-radius: 30px;
    background-color: #FF8B43;
}

/* 꽃 아이콘 붙이기 */
.icon-flower {
    width: 150px;
    position: absolute;
    top: 130px;
    left: -130px;
    pointer-events: none;
}

/* 감사인사 */
.footer-message {
    font-family: "Pretendard", sans-serif;    font-size: 45px;
    font-size: 25px;
    font-weight: 500;
}

/* 끝까지 강조하기 */
.footer-message-bold {
    display: inline-block;
    position: relative;
    font-family: "Gmarket Sans", sans-serif;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

/* 하트 숨기기 */
.footer-message-bold .heart {
    opacity: 0;
    position: absolute;
    top : -35px;
    left: -30px;
    transform: scale(0.8);
    transition: opacity 2s ease, transform 1.2s ease;
    pointer-events: none;
}

/* 하트 이미지 크기 설정 */
.footer-message-bold .heart img {
    display: block;
    width: 40px;
    height: 40px;
}

/* 호버 시 하트 보이기 */
.footer-message:hover .footer-message-bold .heart {
  opacity: 1;
  transform: scale(1);
}

/* 최종 마무리 멘트 */
.footer-sub-message {
    font-family: "Pretendard", sans-serif;
    font-weight: 400;
    font-size: 25px;
}

/* ----------  푸터 끝!!! ----------- */

/* 태블릿 반응형 시작하기 */
@media (max-width: 834px) {
/* 전체 박스 */
.profile-wrap {
    padding: 70px 0;
}

/* 격자무늬랑 컨텐츠 감싸는 부모 */
.container {
    gap: 50px;
}

/* 격자무늬 만들기 */
.pattern1 {
    width: 195px;
    height: 195px;
    top: -70px;
    right: -40px;
}

.pattern2 {
    width: 525px;
    height: 525px;
    top: 440px;
    left: 0px;
}

.pattern3 {
    width: 315px;
    height: 315px;
    bottom: 650px;
    right: 0px;
}

/* 헤더 전체 박스 */
.header-wrap {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/* 헤더 왼쪽 텍스트 */
.header-text {
    gap: 30px;
}

/* 헤더 왼쪽 이름 */
.header-name {
    padding: 45px 130px;
    width: 100%;
    height: auto;
    border: 7px solid #000;
    font-size: 58px;
}

.header-name .family-name {
    font-size: 58px;
}

/* 헤더 왼쪽 꾸밈 아이콘 */
.icon-x {
    width: 58px;
    height: 58px;
    top: -35px;
    left: -35px;
}

/* 헤더 왼쪽 직군 */
.header-role {
    padding: 20px 30px;
    width: auto;
    height: auto;
    border: 7px solid #000;
    font-size: 32px;
    align-items: center;
}

/* 헤더 오른쪽 캐릭터 박스 */
.header-img {
    width: 100%;
    height: 357px;
    border: 9px solid #000;
}

/* 캐릭터 이미지 설정 */
.header-img img {
    width: 254px;
    height: 254px;
}

/* ---------- 헤더 끝!!! ---------- */

/* 메인 시작 */
.main-wrap {
    padding: 45px;
    gap: 70px;
    border: 9px solid #000;
}

/* 어바웃미 박스*/
.about {
    max-width: 680px;
}



/* 별 아이콘 붙이기 */
.icon-star {}




/* 어바웃미 타이틀 */
.about-title {
    width: 100%;
    height: auto;
}
















/* 모바일 반응형 시작하기 */
@media (max-width: 393px) {}


}